/* --------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------Général---------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------*/

body
{
	margin: 0px;
	padding: 0px;
	font-family: Comic Sans MS, Arial Black, sans serif;
}

ul
{
	list-style-type: none;
}


#bloc 
{
	display: flex;	
}

/* --------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------Bloc Gauche---------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------*/

.bloc_gauche
{
	background-color: #b71c1c;
	width: 25%;
}

.photo
{
	border-radius: 100%;
	display: flex;
	margin: auto;	
}

.titre_gauche
{
	color: #d50000;
	background-color: #000;
	text-align: center;
	font-size: 30px;
}

.icone
{
	display: flex;
	text-align: center;
	justify-content: space-around;	
}

.contact
{
	padding: 10px 40px;
}

.propos
{
	padding: 20px 40px 550px 40px;
	text-align: justify; 
}

.BlocIcone
{
	background-color: yellow;
	width: 80px;
	height: 80px;
	border: 2px solid black;
	border-radius: 100%;
}



/* --------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------Bloc Droite---------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------*/
h1
{
	padding: 50px 0px 70px 0px;
}
.NomPrenom
{
	font-size: 60px;
}

h2
{
	font-size: 30px;
}


.bloc_droite
{
	width: 75%;
	margin: 0px 70px;	
}	


.prenom
{
	color: #d50000;
}

.trait
{
	text-decoration: underline #b71c1c;  /*trait sous develo dans le titre */
}

.fa-user-graduate
{
	color: #d50000;
}

h3
{
	border-bottom: 2px #b71c1c solid;
	font-size: 30px;	
}

h4
{
	padding: 0px;
}

.TitleDate
{
	display: flex;
	padding-top: 10px;	
}

.date
{
    width: 30%; 
    font-weight: bold;   
}

.title
{
	width: 70%;
	font-weight: bold;
}

article
{
	padding: 0px 0px 0px 310px;
	text-align: justify;
				
}

.fa-suitcase
{
	color: #d50000;
}

#recommandation
{
	
    display: flex;	            
}

.fa-marker
{
	color: #d50000;
}

.copain /* nom des recommandations */
{
	font-size: 20px;
	font-weight: bold; 
}

.rene
{
	text-align: center;
	width: 50%;
	padding: 0px 40px;
}

.bernard
{
	text-align: center;
	width: 50%;
}

.fa-chevron-circle-right
{
   color: #d50000;
}

/* --------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------Responsive-----------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 1024px)
{
    #bloc
    {
        flex-wrap: wrap-reverse;
    }

    .bloc_gauche
    {
    	width: 100%;
    }

    .bloc_droite
    {
    	width: 100%;
    	margin: 0px;
    }

    h3
    {
    	text-align: center;
    }

    .contact
    {
    	text-align: center;
    }

    .propos
	{
	padding: 20px 40px 20px 40px;	
	}

	article
	{
		width: 90%;
		text-align: center;
		padding: 10px 20px 10px 20px;

	}
	
	 h4
    {
    	text-align: center;
    }

     h2
    {
    	text-align: center;
    }

    .date
    {
    	text-align: center;
    	width: 50%;
    }

    .title
    {
    	text-align: center;
    	width: 50%;
    }

    h1
    {
    	background-color: #b71c1c;
    	text-align: center;
    }
    .photo
    {

    }
}


















